.google {
    width: 30px;
    margin-right: 10px;
  }

  .login-container {
    background-color: white;
    border: 1px solid rgb(233, 236, 239);
    padding: 10px 8px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: rgb(42, 48, 58);
    transition: 0.2s;
  }
  .login-container:hover {
    background-color: rgb(245, 245, 245);
  }
  .login {
    color: rgb(42, 48, 58);
    margin: 0;
    padding: 0
  }